.organism_container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #e0f7fa, #ffffff);
    border-radius: 10px;
}

.backButton {
    position: absolute;
    top: 24px;
    right: 24px;

    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
}

.heading {
    font-size: 32px;
    margin-bottom: 20px;
    color: #1c6d9e;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: #f4f7f9;
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 123, 255, 0.3);
}

.card h3 {
    color: #007bff;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
}

.card p {
    font-size: 14px;
    margin: 5px 0;
    color: #555;
}

.card p strong {
    color: #1c6d9e;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #007bff;
    border-radius: 10px 10px 0 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-out;
}

.closeButton {
    margin-top: 20px;
    background: #d9534f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.closeButton:hover {
    background: #c9302c;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
